#container-footer{
  background-color: #808080;
  border-top: 2px solid #636363;
  width: 100%;
  bottom: 0;
  position: fixed;
  height: 15px;
}
/*resetBtn*/
#resetBtn{
  float: right;
  padding: 6px 10px;
  background: #F5B270;
  font-size: 1.3vw;
  border: 2px solid #000000;
  cursor: pointer;
  box-shadow: 1px 2px #000000;
  border-radius: 6px;
  margin-right: 5%;
  margin-top: 2.5%;
}
