body{
	background-color: #efefef;
	margin: 0;
}

.headline {
	color: #0A1F44;
	font-family: "Palatino Linotype";
	font-size: 28px;
	font-weight: bold;
	line-height: 34px;
	text-align: center;
	margin-bottom: 20px;
}

input{
	height: 350px;
	width: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 24px;
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	font-family: "Palatino Linotype";
	color: #0A1F44;
	font-size: 18px;
	border: none;
	padding: 12px 20px;
}

.headtext1{
	display: block;
	text-align: center;
	font-family: "Palatino Linotype";
	color: #0A1F44;
	font-size: 18px;
	margin-bottom: 20px;
}

.submitBtn{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 24px;
	background-color: #0A1F44;
	color: #FFFFFF;
	font-family: "Palatino Linotype";
	font-size: 17px;
	width: 200px;
	height: 50px;
	text-align: center;
	padding: 15px 10px 15px 10px;
	cursor: pointer;
	margin-top: 20px;
}

#message {
	padding-top: 5px;
	padding-bottom: 15px;
}
