body{
	background-color: #efefef;
	margin: 0;
}
.headline {
	color: #0A1F44;
	font-family: "Palatino Linotype";
	font-size: 28px;
	font-weight: bold;
	line-height: 34px;
	text-align: center;
	margin-bottom: 20px;
}
.backgroundQuiz {
	box-sizing: border-box;
	border: 1px solid #979797;
	border-radius: 8px;
	background-color: #FFFFFF;
	box-shadow: 0 5px 5px 0 rgba(10,31,68,0.12), 0 0 1px 0 rgba(10,31,68,0.1);
	text-align: center;
	font-weight: bold;
}
.backgroundQuiz2 {
	border-radius: 8px;
	background-color: #FFFFFF;
	box-shadow: 0 18px 18px 0 rgba(10,31,68,0.12), 0 0 1px 0 rgba(10,31,68,0.1);
	text-align: center;
	border: 1px solid #979797;
	
}
.options, .categories, .quizSummary{
	display: inline-block;
	margin-right: 60px;
	float: left;
	font-family: "Palatino Linotype";
}
.divider{
	margin: auto;
  	width: fit-content;
	overflow: hidden;
	margin-top: 40px;
	
}
.quizSummary{
	margin-right: 0;
}
.quizText, .quizText2 {
	display: inline-block;
}


.quizTextArrow{
	transform: rotate(90deg);
	width: min-content;
	float: right;
	margin: 0;
	display: inline-block;
	cursor: pointer;
}
.quizTextArrow1{
	transform: rotate(90deg);
	width: min-content;
	float: right;
	margin: 0;
	display: inline-block;
	cursor: pointer;
}
 .category, .difficulty, .type, .numOfQuestions {
	padding-left: 30px;
	padding-right: 30px;
	color: #0A1F44;
}

.categories, .quizSummary {
	padding-left: 30px;
	padding-right: 30px;
	color: #0A1F44;

}
.category, .difficulty, .type, .numOfQuestions{
	margin-bottom: 20px;
}
.startBtnQuiz{
	border-radius: 24px;
	background-color: #0A1F44;
	color: #FFFFFF;
	font-family: "Palatino Linotype";
	font-size: 17px;
	line-height: 16px;
	text-align: center;
	padding: 15px 10px 15px 10px;
	cursor: pointer;
}

.card{
	margin-bottom: 15px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #FFFFFF;
	position: relative;
	margin: auto;
	width: fit-content;
	height: fit-content;	
	font-weight: lighter;
  }
  
  .numOfQuestions:hover .dropdown-content {
	display: block;
	

  }
  .n10{
	color: #0A1F44;
	font-family: "Palatino Linotype";
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	
  }
  
  .n10:hover{
	background-color: #EFEFEF;
	height: 20px;

  }

  .category:hover .dropdown-content {
	display: block;
  }
   
  .type:hover .dropdown-content {
	display: block;
		
}
  .difficulty:hover .dropdown-content {
	display: block;
		
}
.high-score{
	color: #0A1F44;
	font-family: "Palatino Linotype";
	font-size: 22px;	

}

