.question{
	color: #0A1F44;
	font-family: "Palatino Linotype";
	font-size: xx-large;
	font-weight: 900;
	line-height: 21px;
	text-align: center;
  margin-left:auto;
  margin-right:auto;
  margin-top: 70px;
}

.question1{
	color: #0A1F44;
	font-family: "Palatino Linotype";
	font-size: x-large;
	line-height: 21px;
	text-align: center;
  margin-left:auto;
  margin-right:auto;
  margin-top: 70px;
}



.categoryDifficulty {
  height: fit-content;
	width: fit-content;
	color: #0A1F44;
	font-family: "Palatino Linotype";
	font-size: 14px;
  margin-left:auto;
  margin-right:auto;
}
.questionQ {
	padding-left: 200px;
	padding-right: 200px;
	margin-bottom: 70px;
	color: #0A1F44;
	font-family: "Palatino Linotype";
	font-size: 24px;
	font-weight: bold;
	text-align: center;
 	margin-left:auto;
  	margin-right:auto;

}
.answer-card {
  height: 49px;
  width: 300px;
}
.divAnswer {
	margin-left:auto;
	margin-right:auto;
	padding-bottom: 20px;
}
.alternativeButton{
	height: 60px;
	width: 400px;
	border-radius: 8px;
	background-color: #FFFFFF;
	box-shadow: 0 18px 18px 0 rgba(10,31,68,0.12), 0 0 1px 0 rgba(10,31,68,0.1);
	margin: auto;
	height: fit-content;
	overflow: hidden;
	margin-left:auto;
	margin-right:auto;
	display: block;

	
}
.answerText {
	
	color: #0A1F44;
	font-family: "Palatino Linotype";
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	display: inline-block;
	
}
.correctBtn {
  height: 30px;
  width: 30px;
  display:inline-block;
  margin-right: 3px;
  float: right;
  margin-top: 10px;
	display: none;
}
.next-question-text {
	height: 16px;
	width: 92px;
	color: #FFFFFF;
	font-family: "SF Pro Text";
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	display:inline;

}
.save-exit {
	height: 16px;
	width: 74px;
	color: #0A1F44;
	font-family: "SF Pro Text";
	font-size: 14px;
	line-height: 16px;
	display:inline;
	text-align: center;
}
.nextQuestion-button {
	height: 48px;
	width: 233px;
	border-radius: 24px;
	background-color: #0A1F44;
	display:inline;
	margin-left:40px;
}
.save-exit-div {
	box-sizing: border-box;
	height: 48px;
	width: 233px;
	border: 1px solid #0A1F44;
	border-radius: 24px;
	display:inline;
	margin-right:40px;

}
.btncontainer{
	width:100%;
	text-align:center;
	margin-top:50px;
	margin-bottom: 100px;
}
